doctype
html
    head
        title Библиотека - Лямпорт Владислав Сергеевич - Разработка и исследования системы
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(rel='stylesheet' href='../css/bootstrap.min.css')
        link(rel='stylesheet' href='../css/main.css')
    body
        .container-fluid.wrap
            .row
                .col-md-3.side-bar.text-white.d-flex.align-items-center.flex-column.justify-content-between
                    .logo
                        img(src="../img/logo.png")
                    ul.list
                        li
                            a(href="../index.html") Резюме
                        li
                            a(href="../bio/index.html") Биография
                        li
                            a(href="../diss/index.html") Реферат
                        li
                            a(href="./index.html") Библиотека
                        li
                            a(href="../links/index.html") Ссылки
                        li
                            a(href="../links/zvit.html") Отчет о поиске
                        li
                            a(href="../ind/index.html")  Индивидульный раздел
                    .white-line

                    .link.flex-column
                        a Сайт ДонНТУ
                        br
                        a Портал магистров ДонНТУ
                .col-md-9.offset-md-3.top-section
                    section.resume
                        .container
                            .row
                                .col-md-3
                                    img(src="../img/photo.png")

                                .col-md-9.main-profile
                                    h3 Лямпорт Владислав Сергеевич
                                    p Факультет компьютерных информационных технологий и автоматики
                                    p Кафедра "Горная электротехника и автоматика имени Р. М. Лейбова"
                                    p Специальность "Автоматизация технологических процессов и производств"
                                    p Название диплома
                                    p Научный руководитель:
                    section.library
                        .container
                            .library-text.col-md-12
                                h3.text-center.mb-5 Библиотека материалов по теме выпускной работы
                                h4 Тематические статьи
                                ol
                                    li
                                        a Lorem ipsum dolor sit amet.
                                        p Авторы:
                                        p Описание:
                                        p Источник:
                                    li
                                        a Lorem ipsum dolor sit amet.
                                        p Авторы:
                                        p Описание:
                                        p Источник:
                                    li
                                        a Lorem ipsum dolor sit amet.
                                        p Авторы:
                                        p Описание:
                                        p Источник:
                                    li
                                        a Lorem ipsum dolor sit amet.
                                        p Авторы:
                                        p Описание:
                                        p Источник:
                                    li
                                        a Lorem ipsum dolor sit amet.
                                        p Авторы:
                                        p Описание:
                                        p Источник:
                                    li
                                        a Lorem ipsum dolor sit amet.
                                        p Авторы:
                                        p Описание:
                                        p Источник:





