doctype
html
    head
        title Резюме – Лямпорт Владислав Сергеевич – Разработка и исследования системы
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(rel='stylesheet' href='css/bootstrap.min.css')
        link(rel='stylesheet' href='css/main.css')
    body
        .container-fluid.wrap
            .row
                .col-md-3.side-bar.text-white.d-flex.align-items-center.flex-column.justify-content-between
                    .logo
                        img(src="img/logo.png")


                    ul.list
                         li
                            a(href="./index.html") Резюме
                         li
                            a(href="./bio/index.html") Биография
                         li
                            a(href="./diss/index.html") Реферат
                         li
                            a(href="./library/index.html") Библиотека
                         li
                            a(href="./links/index.html") Ссылки
                         li
                            a(href="./links/zvit.html") Отчет о поиске
                         li
                            a(href="./ind/index.html") Индивидульный раздел
                    .white-line

                    .link.flex-column
                        a Сайт ДонНТУ
                        br
                        a Портал магистров ДонНТУ





                .col-md-9.offset-md-3.top-section
                    header.container.parallax
                        .row
                            .parallax-title.d-flex.flex-column.justify-content-center.text-center.flex-column
                                   h1 Донецкий национальный технический университет
                    section.resume
                        .container
                            .row
                                .col-md-3
                                    img(src="img/photo.png")

                                .col-md-9.main-profile
                                    h3 Лямпорт Владислав Сергеевич
                                    p Факультет компьютерных информационных технологий и автоматики
                                    p Кафедра "Горная электротехника и автоматика имени Р. М. Лейбова"
                                    p Специальность "Автоматизация технологических процессов и производств"
                                    p Название диплома
                                    p Научный руководитель:
                    section.my-table.def-section-padding
                        .container
                            .row
                                .col-md-12
                                    .table-content

                                        h3.text-center Краткое резюме магистра
                                        .blue-line
                                        table.table.table-striped
                                            tbody
                                                tr
                                                    td ФИО магистра
                                                    td Лямпорт Владислав Сергеевич
                                                tr
                                                    td Дата рождения
                                                    td 26.08.1998 г.
                                                tr
                                                    td Место рождения
                                                    td г. Донецк
                                                tr
                                                    td Школа(ы)
                                                    td
                                                       p ОШ №52 (с 1 по 7 класс)
                                                       p ДСФМШ №17 (с 8 по 9 класс)
                                                tr
                                                    td ВУЗ
                                                    td
                                                        p 2014 г. – 2018 г. ДТПА. Специальность «Автоматизация технологических процессов и производств», техник
                                                        p 2018 г. – 2021 г. ДонНТУ. Специальность «Автоматизация технологических процессов и производств», бакалавриат
                                                        p 2021 г. – 2023 г. ДонНТУ. «Автоматизация технологических процессов и производств», магистратура

                                                tr
                                                    td Средний балл
                                                    td


                                                tr
                                                    td Владение языками
                                                    td
                                                        p Русский - в совершенстве
                                                        p Украинский - в совершенстве
                                                        p Английский - базовый
                                                tr
                                                    td Личные достижения
                                                    td Lorem ipsum dolor sit amet.
                                                tr
                                                    td Увлечения
                                                    td 3D моделирование
                                                tr
                                                    td Личные качества
                                                    td Отсутствие вредных привычек, исполнительность.

                                                tr
                                                    td Владение компьютером
                                                    td
                                                        p Прикладные программы: Mathcad, Matlab, MS Office
                                                        p Среды разработки: EasyEDA, CoDeSys, Компас 3D, ArduinoIDE
                                                        p Языки программирования: FBD, ST, IL
                                                tr
                                                    td
                                                        p Дополнительные курсы,
                                                        p стажировки, гранты
                                                    td Производственная практика в НИИГД МЧС «Респиратор»
                                                tr
                                                    td Опыт работы
                                                    td ВОДА ДОНБАССА. Инженер 2 категории отдела АСУ ТП
                                                tr
                                                    td Планы на будущее
                                                    td Работа по предпочтениям, зарабатывать столько, чтобы не смотреть на ценники
                                                tr
                                                    td Контактная информация
                                                    td megachip1@yandex.com








