doctype
html
    head
        title Реферат - Лямпорт Владислав Сергеевич - Разработка и исследования системы
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(rel='stylesheet' href='../css/bootstrap.min.css')
        link(rel='stylesheet' href='../css/main.css')
    body
        .container-fluid.wrap
            .row
                .col-md-3.side-bar.text-white.d-flex.align-items-center.flex-column.justify-content-between
                    .logo
                        img(src="../img/logo.png")
                    ul.list
                        li
                            a(href="../index.html") Резюме
                        li
                            a(href="../bio/index.html") Биография
                        li
                            a(href="./index.html") Реферат
                        li
                            a(href="../library/index.html") Библиотека
                        li
                            a(href="../links/index.html") Ссылки
                        li
                            a(href="../links/zvit.html") Отчет о поиске
                        li
                            a(href="../ind/index.html")  Индивидульный раздел
                    .white-line

                    .link.flex-column
                        a Сайт ДонНТУ
                        br
                        a Портал магистров ДонНТУ
                .col-md-9.offset-md-3.top-section
                    section.resume
                        .container
                            .row
                                .col-md-3
                                    img(src="../img/photo.png")

                                .col-md-9.main-profile
                                    h3 Лямпорт Владислав Сергеевич
                                    p Факультет компьютерных информационных технологий и автоматики
                                    p Кафедра "Горная электротехника и автоматика имени Р. М. Лейбова"
                                    p Специальность "Автоматизация технологических процессов и производств"
                                    p Название диплома
                                    p Научный руководитель:
                    section.diss
                        .container
                            .diss-text.col-md-12
                                h3.text-center.mb-5 Реферат по теме выпускной работы

                                h4 Содержание
                                h4
                                    a(href="#p0") Введение
                                ol
                                    li
                                        h4
                                            a(href="#p1") Актуальность
                                    li
                                       h4
                                            a(href="#p2") Цели
                                    li
                                       h4
                                            a(href="#p3") Обзор
                                    li
                                       h4
                                            a(href="#p4") Требования
                                    li
                                       h4
                                            a(href="#p5") Выводы
                                    li
                                       h4
                                            a(href="#p6") Список источников
                                h4
                                    a(name="p0") Введение
                                p <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab beatae cumque deserunt enim error expedita explicabo facilis magni necessitatibus nihil nobis, numquam praesentium, quas quis repudiandae rerum tempora ullam!</span><span>Accusantium consectetur consequuntur corporis, eius eligendi est excepturi fugiat ipsum labore magni maiores maxime mollitia porro possimus repellendus voluptas voluptates? Dolor error est fugiat incidunt iste odio qui sed sunt!</span><span>Aliquid, animi aperiam fugiat laboriosam perspiciatis porro quam quia ratione similique sunt! Asperiores neque quam quis sapiente suscipit! Consequatur deserunt dignissimos facere fuga in iste mollitia nihil provident saepe suscipit.</span><span>Corporis doloremque eligendi enim illum mollitia vel? Accusamus ad amet, blanditiis ducimus enim ipsa nemo neque omnis optio placeat quibusdam quis sed similique sunt tempora? Consequuntur enim id maxime officia.</span><span>Corporis dolores iure maxime, minima nam quam sit voluptatibus! Autem beatae culpa delectus dicta earum est illum, in, magnam minima nam pariatur perferendis qui quibusdam quidem reprehenderit suscipit temporibus voluptate.</span>
                                h4
                                    a(name="p1") Актуальность
                                p <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, animi autem dignissimos dolores doloribus ea et inventore ipsam odio provident quae quasi repellat sapiente sint totam unde ut voluptatibus? Quis?</span><span>Animi cumque eius hic ipsam odio pariatur rem sed unde. Aperiam culpa distinctio, natus placeat tempore totam. Dolores et iusto libero optio? Asperiores aspernatur doloremque impedit minima nostrum reiciendis soluta?</span><span>Ad cumque dolorum exercitationem, incidunt nemo possimus ratione sint voluptatibus. Accusantium ad blanditiis deleniti deserunt dicta ducimus eius exercitationem fugiat id iste iure maiores, modi molestiae, possimus, sequi veritatis voluptates.</span><span>Aliquam consectetur delectus deleniti deserunt distinctio facere fuga illum ipsam magnam modi molestiae non nulla officia perferendis, quam quasi saepe voluptatem? Necessitatibus nisi odit quia recusandae sint. Nihil, ullam voluptatem.</span><span>Amet assumenda cum doloribus, ducimus eos, eum eveniet in, iste libero nam nesciunt quaerat quam quas recusandae saepe sit unde. Assumenda cum dolore ea suscipit. Accusantium eum ipsa magni saepe.</span>
                                h4
                                    a(name="p2") Цели
                                p <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur facere minus odio quos vel. Accusamus aliquam commodi consequatur est ex, fugit omnis, quam quas suscipit vel, vitae voluptatem! Illo, non.</span><span>Animi, aperiam dolor, eius eligendi ex harum id laboriosam provident recusandae repellat saepe ullam veritatis. Debitis eius eos fugit labore laboriosam magnam minus necessitatibus, quis sed sit! Magni, maxime odio?</span><span>Iusto, unde veniam. Ad alias asperiores consectetur corporis doloribus enim et exercitationem, hic ipsum molestiae pariatur perferendis quis suscipit veniam voluptatum. Accusantium assumenda dolor dolores ipsa molestiae numquam, repellendus velit?</span><span>Ad assumenda aut culpa earum enim ex modi officia quisquam vero! Commodi dolor eaque earum, hic id incidunt, itaque laudantium magni maiores minus, neque nesciunt officiis porro quae ratione voluptatem!</span><span>Dolores doloribus facilis quaerat repudiandae. At blanditiis consectetur earum fugiat placeat porro ratione repudiandae tempore. Accusantium alias animi consequuntur debitis ea, et, fuga fugit iure minima quidem repellendus unde veritatis!</span>

                                h4
                                    a(name="p3") Обзор
                                p <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A blanditiis deserunt enim, excepturi illum odio praesentium quasi rerum ut? Ad at dignissimos fugiat magni modi nulla placeat qui rerum. Cupiditate.</span><span>Adipisci, animi delectus deleniti eum explicabo harum id illo illum neque nihil, officia quam sunt ullam, vero vitae. Ad atque deleniti enim et in ipsum libero omnis pariatur tempore vero.</span><span>Alias amet beatae dicta dolorem et ex excepturi itaque, obcaecati odit optio perspiciatis porro provident quidem quos sed sit temporibus unde vel voluptate voluptatem? Id incidunt maiores nostrum sapiente voluptatem!</span><span>Beatae deserunt fugiat labore molestias nihil obcaecati, quam quas quasi quisquam quos sit soluta veniam? Aliquid animi asperiores cum distinctio eaque, excepturi facilis fugiat illo quam sapiente sit, temporibus tenetur?</span><span>Adipisci aperiam atque consequuntur culpa cupiditate distinctio et expedita facilis id incidunt laborum libero minima molestiae, molestias nobis obcaecati odit optio quis quod ratione rem sapiente tempora totam vel voluptate.</span>

                                h4
                                    a(name="p4") Требования
                                p <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet autem commodi dicta ea eum facere, illo ipsam libero nemo odit placeat porro, possimus provident ut velit veniam, vitae voluptates!</span><span>Assumenda blanditiis deserunt dolor quam, quisquam ratione repellendus! Architecto asperiores, assumenda dolor magni minus molestiae odit perferendis quos velit voluptas? Accusamus dolorum hic illum itaque iusto nisi quidem voluptas voluptate?</span><span>A consequuntur laudantium sapiente voluptatibus? Aliquam animi at distinctio hic illo ipsum mollitia necessitatibus quam recusandae. Ea eos facilis iusto labore modi perferendis quae quasi? Alias aliquam eaque eligendi molestiae?</span><span>Animi atque dignissimos dolore earum est nobis non perspiciatis provident, quae sint sit veritatis voluptatibus? Ab asperiores cumque cupiditate debitis et, ipsum neque nulla quae quis rem repudiandae vel, veniam.</span><span>Adipisci at debitis eum explicabo, facilis libero magnam maiores minima quos veritatis! Animi asperiores dolorem enim officiis sequi! Blanditiis corporis esse facere inventore non nostrum quas repellendus similique tempore voluptatum.</span>

                                h4
                                    a(name="p5") Выводы
                                p <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum dicta ducimus et fuga fugit itaque molestiae mollitia nam necessitatibus placeat quas quibusdam, quo repudiandae sequi similique! Animi eligendi laudantium perspiciatis?</span><span>Accusantium amet asperiores, cum cupiditate debitis ea eum ex excepturi hic id, labore laudantium libero magnam natus nisi odit quasi qui quisquam sunt temporibus unde vel voluptate voluptatem? Laboriosam, suscipit.</span><span>Accusamus ad aliquam, aliquid at cumque ducimus, ex fugiat fugit illo illum incidunt ipsa iusto libero minus modi neque nesciunt nostrum pariatur, perspiciatis quaerat quidem quis repellendus unde vel voluptas!</span><span>Atque cumque debitis delectus, doloremque eligendi est explicabo in ipsam iure minima molestias odio omnis quaerat quas, sed ut veniam voluptatibus? At doloribus expedita iure laborum libero, obcaecati quo vero!</span><span>Facilis, unde, voluptatibus. Ad aut deserunt fuga, inventore libero nihil voluptates. Assumenda ea eveniet inventore laboriosam omnis quasi quidem quod voluptatem. Eum magnam maxime optio provident quasi qui recusandae voluptatum.</span>

                                h4
                                    a(name="p6") Список источников
                                ol
                                    li 1
                                    li 2
                                    li 3





